<form action="">
  <img src="assets/user-icon.png" alt="user-icon" />
  <input placeholder="Name" class="form-control" />
  <input type="number" placeholder="Age" class="form-control" />
  <input placeholder="City" class="form-control" />

  <input
    type="button"
    *ngIf="isVisible"
    value="Create"
    class="btn btn-primary"
  />
  <input
    type="button"
    *ngIf="!isVisible"
    value="Update"
    class="btn btn-warning"
  />
  <input
    type="button"
    *ngIf="!isVisible"
    value="Remove"
    class="btn btn-danger"
  />
  <input
    type="button"
    *ngIf="!isVisible"
    value="Cancel"
    class="btn btn-secondary"
  />
</form>

<table class="table">
  <thead>
    <tr>
      <th>#</th>
      <th>Name</th>
      <th>Age</th>
      <th>City</th>
      <th>Select</th>
    </tr>
  </thead>

  <tbody></tbody>
</table>
