<form action="">
  <img src="assets/user-icon.png" alt="user-icon" />
  <input
    placeholder="Name"
    class="form-control"
    name="name"
    [(ngModel)]="user.name"
  />
  <input
    type="number"
    placeholder="Age"
    class="form-control"
    name="age"
    [(ngModel)]="user.age"
  />
  <input
    placeholder="City"
    class="form-control"
    name="city"
    [(ngModel)]="user.city"
  />

  <input
    type="button"
    *ngIf="isButtonVisible"
    value="Create"
    class="btn btn-primary"
    (click)="createUser()"
  />
  <input
    type="button"
    *ngIf="!isButtonVisible"
    value="Update"
    class="btn btn-warning"
    (click)="updateUser()"
  />
  <input
    type="button"
    *ngIf="!isButtonVisible"
    value="Remove"
    class="btn btn-danger"
    (click)="removeUser()"
  />
  <input
    type="button"
    *ngIf="!isButtonVisible"
    value="Cancel"
    class="btn btn-secondary"
  />
</form>

<table class="table" *ngIf="isTableVisible">
  <thead>
    <tr>
      <th>#</th>
      <th>Name</th>
      <th>Age</th>
      <th>City</th>
      <th>Select</th>
    </tr>
  </thead>

  <tbody>
    <tr *ngFor="let u of users; index as i">
      <td>{{ u.id }}</td>
      <td>{{ u.name }}</td>
      <td>{{ u.age }}</td>
      <td>{{ u.city }}</td>
      <td>
        <button class="btn btn-success" (click)="selectUser(i)">Select</button>
      </td>
    </tr>
  </tbody>
</table>
